{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div>
    <h1>{% trans 'Создание поста' %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>{% trans 'Заголовок (рус)' %}</label>
        {{form.title_ru}}
        <label>{% trans 'Контент (рус)' %}</label>
        {{form.content_ru}}
        <label>{% trans 'Заголовок (англ)' %}</label>
        {{form.title_en}}
        <label>{% trans 'Контент (англ)' %}</label>
        {{form.content_en}}
        <label>{% trans 'Файлы' %}</label>
        {{form.images}}
        <button type="submit">{% trans 'Опубликовать' %}</button>
    </form>
</div>
{% endblock %}